logging {
  level  = "info"
  format = "logfmt"
}

otelcol.auth.basic "grafana_cloud" {
  client_auth {
    username = sys.env("OTLP_USERNAME")
    password = sys.env("OTLP_API_KEY")
  }
}

otelcol.exporter.otlphttp "grafana_cloud" {
  client {
    endpoint = "${grafana_otlp_endpoint}"
    auth     = otelcol.auth.basic.grafana_cloud.handler
  }
}

otelcol.processor.batch "default" {
  output {
    metrics = [otelcol.exporter.otlphttp.grafana_cloud.input]
    logs    = [otelcol.exporter.otlphttp.grafana_cloud.input]
    traces  = [otelcol.exporter.otlphttp.grafana_cloud.input]
  }
}

otelcol.processor.memory_limiter "default" {
  check_interval = "1s"
  limit          = "${memory_limit}"
  spike_limit    = "${spike_limit}"

  output {
    metrics = [otelcol.processor.batch.default.input]
    logs    = [otelcol.processor.batch.default.input]
    traces  = [otelcol.processor.batch.default.input]
  }
}

otelcol.receiver.otlp "backend" {
  grpc {
    endpoint = "0.0.0.0:${grpc_port}"
  }

  http {
    endpoint = "0.0.0.0:${http_port}"
  }

  output {
    metrics = [otelcol.processor.memory_limiter.default.input]
    logs    = [otelcol.processor.memory_limiter.default.input]
    traces  = [otelcol.processor.memory_limiter.default.input]
  }
}
